<style>

  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }

  .logoImg {
    max-width: 9.2rem;
  }

  section {
    display: table;
    align-items: center;
  }
</style>

<!-- <main class="main">
  <img src="../assets/images/logo.png" class="logoImg"/>
  <div id="content">
   
      <h1>Welcome to The Memory Challenge Game</h1>
      <p>Choose level:</p>

      <section>
        
          <button mat-raised-button >4x3</button>
          <button mat-raised-button>4x4</button>
          <a mat-raised-button href="https://www.google.com/" target="_blank">4x5</a>
        
      </section>
    </div> 
    
</main> -->
<app-main></app-main>
<router-outlet />
